amqp==2.1.4
billiard==3.5.0.2
celery==4.0.2
certifi==2018.8.24
chardet==3.0.4
Django==1.9
django-multi-email-field==0.4
djangorestframework==3.5.3
idna==2.7
jenkinsapi==0.3.6
kombu==4.0.2
multi-key-dict==2.0.3
numpy==1.15.1
olefile==0.44
pandas==0.22.0
pbr==4.2.0
Pillow==4.0.0
pypiwin32==219
python-dateutil==2.7.3
python-jenkins==1.2.1
python-memcached==1.58
pythonnet==2.1.0
pytz==2017.2
PyYAML==3.12
requests==2.19.1
six==1.11.0
urllib3==1.23
vine==1.1.3
